.vscode
build/DetailGen.exe
build/DetailGen
.cmake
build/Makefile
build/cmake_install.cmake
build/CMakeFiles
build/CMakeCache.txt
build/Output/*
build/People/*
build/Details/*
debug
src/codecompanion-workspace.json
src/tags
